annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
blis==1.3.3
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
cloudpathlib==0.23.0
colorama==0.4.6
confection==0.1.5
cymem==2.0.13
DAWG2-Python==0.9.0
filelock==3.25.2
fsspec==2026.2.0
idna==3.11
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.15
networkx==3.6.1
numpy==2.4.3
omegaconf==2.3.0
packaging==26.0
preshed==3.0.12
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
PyYAML==6.0.3
requests==2.32.5
rich==14.3.3
ru_core_news_md @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_md-3.8.0/ru_core_news_md-3.8.0-py3-none-any.whl#sha256=43f456d40e4b70726874e01ce01fce32f50089ba98a2660292e9a6c63a06ebe9
ru_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.8.0/ru_core_news_sm-3.8.0-py3-none-any.whl#sha256=69978d47b43e2c4f329bebdb155e8e9d3861bba1a58ba25551419dae7d7e07fc
setuptools==82.0.1
shellingham==1.5.4
smart_open==7.5.1
miniaudio==1.68
sounddevice==0.5.5
soundfile==0.13.1
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
srt==3.5.3
sympy==1.14.0
thinc==8.3.10
torch==2.10.0
torchaudio==2.10.0
tqdm==4.67.3
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
vosk>=0.3.44
wasabi==1.1.3
weasel==0.4.3
websockets==16.0
wrapt==2.1.2
